@tailwind base;
@tailwind components;
@tailwind utilities;

// --foreground: neutral-950
// --background: neutral-50
:root {
  --foreground: #0a0a0a;
  --background: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #fafafa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
  font-family: "Roboto", sans-serif;
}

::selection {
  background-color: #7dd3fc; /* Replace with your desired color */
  /* color: #082f49; Replace with your desired text color */
}

@layer utilities {
  .page-min-height {
    min-height: calc(100vh - 74px - 80px);
  }

  @media (min-width: 1024px) {
    .page-min-height {
      min-height: calc(100vh - 118px - 120px);
    }
  }

  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 3px;
    background: #f1f5f9;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e7e5e4;
    border-radius: 3px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a29e;
  }
}
